*{
	margin: 0px;
	padding: 0px;
	font-family: verdana;
}

header{
  background-color: #9a4b9a;
  display: inline-block;
  width: 200%;
  color: white;

}


.titulo{
  display: inline-block;
  position: absolute;
  top: 20px;
  text-align: center;
  width: 340px;
}

.cuadro{
  width: 60px;
  height: 60px;
  display: inline-block;
  margin : 10px;
  margin-right: 20px;

}
.imagen_logo{
  width: 250%;
  height: 150%;
  cursor: pointer;
}

nav {
	margin:0px auto;
	width: 1100px;
}

.contenedor{
	width: 200px;
	height: 150px;
	float:left;
	-webkit-transition:height .4s;
}

#uno{
	background-color: rgb(208,101,3);
}

#dos{
	background-color: rgb(233,147,26);
}
#tres
{
	background-color: rgb(22,145,190);
}
#cuatro{
	background-color: rgb(22,107,162);
}
#cinco{
	background-color: rgb(193,31,164);
}

.cust{
	display: block;
	margin: 50px auto;
	background-color: rgba(255,255,255,0.15);
	width: 40px;
	padding: 20px;
	-webkit-border-radius:50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;

}

.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top: 10px;
	opacity: .9;
}

.contenedor:hover{
	height: 250px;

}

.contenedor:hover .texto {
	padding-top: 30px;
	opacity: 1;
}

.contenedor:hover .cust{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
}

<!-- PRINCIPAL-->

