body{
	margin: 0 auto;
	background-image: url("../imagen/inicio.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;
}

.container{
 width: 500px;
 height: 400px;
 text-align: center;
 background-color: rgba(52, 73,94,0.7);
 border-radius: 4px;
 margin: 0 auto;
 margin-top: 150px;
}

.container img{

	width: 200px;
	height: 200px;
	margin-top: -60px;
	margin-bottom: 30px; 
}

input[type="email"],input[type="password"]{
	height: 44px;
	width: 240px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 45px;
	border: 1px solid #000;
}

.cust{
	position: absolute;
	background: #fff;
	margin-right: 18px;
	margin-top: 1px;
	padding-top: 8px;
	width: 44px;
	height: 36px;
	border: 1px solid #fff;
}

.btn-login{
	background-color: #27c2a5;
	color:  #fff;
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid #219882;
	cursor: pointer;
}

button{
	width: 40%;
	margin: 5px 0 25px;
}

.btn-login:hover, .btn:focus{
	background-color: #25a890;
	border-bottom: 4px solid #25a890;
}
